<%= form_with(model: [:admin, user], local: true) do |form| %>
 
  <div class="mb-3">
    <%= form.label :role, class: "form-label" %>
    <%= form.select :role, User.roles.keys.map { |r| [r.titleize, r] }, {}, class: "form-select" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
